body {
    background: rgb(2, 121, 37);
}
nav {
    background: rgba(4, 72, 1, 0.699);
    padding: 0px 10px;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 10px;
}
a:hover {
    color: rgb(231, 231, 231);
    /*text-decoration:underline;*/
    
}

/* a classe permite criar persomalização para as tags individualmente*/
/* começa com "." e o "nome" */
.secdestaque {
    width: 100%; /* width é a largura*/
    height: 400px; /* height é a altura*/
    background: url(../images/paisagem-1143403334.jpg); /* background é a imagem de fundo*/
    background-repeat: no-repeat;
    background-position: center; /* background-position é a posição da imagem de fundo*/
    background-attachment: fixed; /* background-attachment é a fixação da imagem de fundo*/
    background-size: 100% 100%; /* background-size é o tamanho da imagem de fundo*/
    border-radius: 40px; /* border-radius é o arredondamento das bordas*/

}  

.centro{
    width: 50%;
    background: rgba(4, 72, 1, 0.699);
    margin: 0 auto;
    display: flex;
}

.coluna{
    
    float: left;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.centro .coluna p{
    background: rgba(5, 153, 40, 0.727);
}

h1,h2,h3,h4,h5{
    color: blue;
}
