body {
    background: rgb(252, 252, 252);
}
nav {
    background: rgb(8, 116, 216);
    border-radius: 40px;
    padding: 1px 20px;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    text-align: center; /* alinhamento do texto*/
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 10px;
}
a:hover {
    color: rgb(231, 231, 231);
    /*text-decoration:underline;*/
    
}

/* a classe permite criar persomalização para as tags individualmente*/
/* começa com "." e o "nome" */
.secdestaque {
    width: 100%; /* width é a largura*/
    height: 100px; /* height é a altura*/
    background: url(../images/tech.jpg); /* background é a imagem de fundo*/
    background-repeat: no-repeat;
    background-position: center; /* background-position é a posição da imagem de fundo*/
    background-attachment: fixed; /* background-attachment é a fixação da imagem de fundo*/
    background-size: 100% 100%; /* background-size é o tamanho da imagem de fundo*/
    border-radius: 20px; /* border-radius é o arredondamento das bordas*/
    border-radius: 5px;
   
    h1 {
        color: #fff; /* cor do texto*/
        font-family: Arial, Helvetica, sans-serif; /* fonte do texto*/
        font-size: 28px; /* tamanho da fonte*/
        text-align: center; /* alinhamento do texto*/
        padding: 35px; /* espaçamento interno do texto*/
        text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white; /* código para contornar o texto*/
    }


}

.centro{
    width: 50%;
    background: url(../images/azul.jpg);
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
}

.coluna{
    
    float: left;
    width: 100%;
    margin: 10px;
    padding: 10px;
    
}

.centro .coluna p{
    background: #0940f7;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

h1,h2,h3,h4,h5{
    color: rgb(0, 64, 255); 
    text-align: center; /* alinhamento do texto*/
}

p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}

.secconteudo {
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center; /* alinhamento do texto*/
}
.secconteudo a {
    color: rgb(0, 0, 0);
}
.secconteudo a:hover {
    color: rgb(45, 3, 255);
}

.formulario{
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center; /* alinhamento do texto*/
}
.formulario p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.formulario label{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}