body{
    background: #fff;
}

figure{
    max-width: 25%;
    width: 100%;
    position: relative;
    float: left;
}

figure img{
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
}
figure figcaption{
    position: absolute;
    bottom: 0px;
    left: 10px;
}

figure figcaption h1{
    color: #fff;
}

.centro{
    margin: 0% auto;
    width: 62%;
    display: flex;

}
